html{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    transition: all .5s ease-in-out;
}

*,
*:before,
*:after {
    font-family: $sizeParaph;
    box-sizing: inherit;
}

body{
    font-size: 1.6rem;
    line-height: 2;
    color: $negro;
    background-color: $grisClaro;
}

h1{
    font-size: $fuente_principal;
}

h2{
    font-size: $sizeSubTitle;
}

a{
    text-decoration: none;
    font-weight: 400;
}

img{
    max-width: 100%;
    transition: all 1s ease-in-out;
}

ul li{    
    list-style: none;
}