.section {
    margin-top: $separation;
    margin-bottom: $separacion;
}

.align-right{
    display: flex;
    justify-content: flex-end;
}

.space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.centrar-contenido{
    display: flex;
    justify-content: center;
    align-items: center;
}

.relative-element{    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.fixed-element{
    background-color: #212121;
    position: fixed;
}

.logo-size{
    width: 10rem;
}

.transition-all{    
    transition: all .5s ease-in-out;
}

