@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Maven+Pro:wght@400;500;600;700&family=Roboto:wght@400;700&display=swap');

// Fonts
$fuente_principal: 'Marvel', 'Maven Pro', 'Roboto', sans-serif;

// Media Queries sizes
$telefono: 360px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1280px;

// Colors
$negro: #212121;
$azul: #3254D3;
$blanco: #ffffff;
$grisClaro: #dadada;
$grisMedio: #727272;
$grisOscuro: #333333;

// Font weigth
$tiny: 300;
$regular : 400;
$semiBold: 600;
$bold: 700;
$black: 900;

// Font Size
$sizeTitle: 3.8rem;
$sizeSubTitle: 2.4rem;
$sizeParaph: 1.6rem;
$sizeButton: 2rem;

//Other Sizes
$separation: 2rem;